.task__checkbox {
  display: none;
}

.task__icon {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  background-image: url(../../img/checkbox-blank-circle-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.task__checkbox:checked + .task__icon {
  content: "";
  position: absolute;
  top: 2px;
  left: -30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  background-image: url(../../img/checkbox-marked-circle-outline.svg);
}

.task__checkbox:checked ~ .task__text {
  font-style: italic;
}
